version: '3.3'
services:
    ping:
        build: 
            context: .  
            dockerfile: Dockerfile
        ports:
            - 5000:5001
    pong:
        build:  
            context: .  
            dockerfile: Dockerfile
        ports:
            - 5001:5000